img{
    width:35px;
    height:35px;

}
header{
    width:100%;
    display: inline-block;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
#search{
    border-radius: 20px;
    padding:2px;

}
a{
    background-color: forestgreen;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    border-radius: 20px;
    padding-top: 4px;
}
footer{
    width:100%;
    display:flex;
    justify-content:space-evenly;
    background-color: lightslategray;
    color:white;
    padding: 15px;
    margin-top: 15px;
}
